<nav class="navbar bg-body-secondary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" [routerLink]="['./home']">
            <img src="" alt="Logo" width="auto" height="30" class="d-inline-block align-text-top">
            Mayma Ambiental
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ username }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['./home']" (click)="cerrarOffcanvas()"><i class="fas fa-house"></i> Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [routerLink]="['./project']" (click)="cerrarOffcanvas()"><i class="far fa-file-lines"></i> Proyectos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-group"></i> Usuarios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="" [routerLink]="['./users']" (click)="cerrarOffcanvas()">Usuarios</a></li>
                            <li><a class="dropdown-item" href="" [routerLink]="['./admins']" (click)="cerrarOffcanvas()">Admninistradores</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [routerLink]="['./profile']" (click)="cerrarOffcanvas()"><i class="far fa-user"></i> Ver Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [routerLink]="['./private-files']" (click)="cerrarOffcanvas()"><i class="far fa-folder"></i> Archivos Privados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [routerLink]="['./about']" (click)="cerrarOffcanvas()"><i class="far fa-circle-question"></i> Acerca de la aplicacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="%" data-bs-toggle="modal" data-bs-target="#abrirConsola" (click)="cerrarOffcanvas()"><i class="fas fa-terminal"></i> Abrir Consola</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [routerLink]="['./help']" (click)="cerrarOffcanvas()"><i class="fas fa-power-off" ></i> Ayuda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="onLogout(); $event.preventDefault()"><i class="fas fa-power-off"></i> Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Modal de la terminal -->
<div class="modal fade" id="abrirConsola" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable" style="height: 90vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Terminal del Sistema</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" id="terminal-body" style="background-color: black; color: #00FF00; font-family: Consolas; overflow-y: auto;">
                <div #terminalOutput id="terminal-output" style="white-space: pre-wrap;"></div>
                <div class="d-flex mt-2">
                    <span class="me-2">mayma/user/users~$</span>
                    <input
                        #terminalInput
                        type="text"
                        class="form-control form-control-sm border-0"
                        style="background-color: black; color: #00FF00; border: none; box-shadow: none;"
                        (keydown)="procesarComando($event)"
                        autocomplete="off"
                    />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="mx-auto" style="width: 90%;">
        <br><br><br>
        <router-outlet></router-outlet>
    </div>
</section>

